<div tabindex="0" (click)="clickAccordion()" class="portal-tile-content-item">
    <div class="portal-tile-content-label">
        <span>{{displayText}}</span>
    </div>
    <i style="margin-right:1em;" [ngClass]="{'portal-carrot-down-icon':!isOpen,'portal-carrot-up-icon':isOpen}"
        class="ot-icon-md "></i>
</div>
<ng-container *ngIf="isOpen" [@enterAnimation]>
    <div *ngFor="let element of children" (click)="clickUrl(element)" tabindex="0" class="portal-tile-content-item">
        <div class="portal-tile-content-label portal-tile-accordion-content-label">
            <a><span>{{element.displayText}}</span></a>
        </div>
    </div>
</ng-container>
